/* Your styles should be mobile-first and responsive */

/** 
  * If you are unclear on how to utilize a mobile-first, responsive technique to write your CSS, here is an example: 
  *
  * https://github.com/andreacardybailey/responsive_example/blob/master/styles/responsive-base.css 
  *last!!
*/

* {
  font-family: "Poiret One", cursive;
  margin-top: 50px;
  font-size: 24px;
  background-color: #f5dce2;
}

#main {
  background-image: url("https://i.imgur.com/XYG8JPn");
}
h1 {
  text-align: center;
}
h3 {
  text-align: center;
}
li {
  text-align: center;
}
#start {
  background-color: #8d8583;
  padding: 10px;
  border-radius: 5px;
}
#next-question-button {
  background-color: #8d8583;
  display: none;
  padding: 10px;
  border-radius: 5px;
  margin: 10px;
}

main {
  text-align: center;
  border-style: none;
}

#submit-button {
  background-color: #8d8583;
  padding: 10px;
  border-radius: 5px;
}
#reset {
  background-color: #8d8583;
  padding: 10px;
  border-radius: 5px;
}
p {
  text-align: center;
}

ul {
  list-style: none;
}

#question-title {
  text-align: center;
}
#question-form {
  margin-left: 150px;
  margin-right: 150px;
  margin-top: 0px;

  border-style: none;
  border-color: #7e646e;
}
fieldset {
  display: flex;
  justify-content: center;
  border-style: dotted;
  text-align: left;
  size: 50px;
}
div.answers {
  padding-left: 200px;
}
div.question {
  padding-left: 100px;
}

div.wrong-answer {
  text-align: center;
}

div {
  border-style: none;
}
